/*-------- 6. About us style ---------*/

.about-us-area{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about-us-img{
            flex: 1;
            display: none;
            img{
                object-fit: cover;
                height: 250px;
                width: 450px;
                object-position: center;
            }
            @media #{$lg-layout} {
                display: flex;
            }
        }
        .about-us-content {
            flex: 2;
            p {
                font-size: 20px;
                font-family: $jost;
                line-height: 50px;
                text-align: justify;
            }
            h2 {
                font-size: 20px;
                font-family: $signericafat;

            }
        }
    }

}

