/*-------- 6. About us style ---------*/

.about-us-area{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .about-us-logo{
            flex: 1;
            display: none;
            img{
                object-fit: cover;
                height: 250px;
                width: 450px;
                object-position: center;
            }
            @media #{$lg-layout} {
                display: flex;
            }
            @media #{$xl-layout} {
                display: flex;
            }
            @media #{$xx-layout} {
                display: flex;
            }
        }
        .about-us-content {
            flex: 2;
            h3 {
                font-size: 24px;
                font-weight: 500;
                font-family: $heebo;
                text-transform: uppercase;
            }
            p {
                font-size: 20px;
                font-family: $jost;
                line-height: 50px;
                text-align: justify;
            }
            h2 {
                font-size: 20px;
                font-family: $signericafat;
            }
        }
    }

}

