
/*-------- 22. Checkout style ---------*/

.customer-zone {
    > p {
        font-size: 15px;
        cursor: pointer;
        position: relative;
        padding: 14px 30px 14px 60px;
        background-color: #eeeff2;
        margin: 0;
        color: $black;
        a {
            color: $black;
            position: absolute;
            right: 5%;
            &:hover {
                color: $theme-color-red;
            }
        }
        @media #{$sm-layout} {
            padding: 14px 30px 14px 40px;
        }
        &:before {
            content: "\e080";
            color: #6dde6d;
            display: inline-block;
            position: absolute;
            font-family: 'simple-line-icons';
            left: 15px;
            top: 15px;
            font-size: 18px;
        }
    }
}
.checkout-login-info{
    margin: 20px 0 0;
}
.checkout-login-info2,
.checkout-login-info3 {
    margin: 20px 0 0;
    display: none;
}


    .billing-info {
        label {
            font-size: 14px;
            text-transform: capitalize;
            display: block;
            margin: 0 0 5px;
            abbr {
                color: red;
            }
        }
        input {
            border: 1px solid #e8e8e8;
            height: 50px;
            background-color: transparent;
            padding: 2px 20px;
            color: #1f2226;
            font-size: 14px;
            &:focus {
                border: 1px solid #343538;
            }
            &.billing-address {
                margin-bottom: 20px;
            }
        }
    }
    .billing-select {
        label {
            font-size: 14px;
            text-transform: capitalize;
            display: block;
            margin: 0 0 5px;
            abbr {
                color: red;
            }
        }
        select {
            border: 1px solid #e6e6e6;
            -moz-appearance: none;
            -webkit-appearance: none;
            color: #333;
            font-size: 14px;
            height: 50px;
            padding: 2px 20px;
            background: rgba(0, 0, 0, 0) url("../../images/icon-img/select.png") no-repeat scroll right 18px center;
            cursor: pointer;
            option {
                background: #fff;
                border: 0px solid #626262;
                padding-left: 10px;
                color: #333;
                font-size: 12px;
            }
        }
    }
    .additional-info-wrap {
        margin: 22px 0 0;
        label {
            color: #010225;
            font-size: 14px;
            text-transform: capitalize;
            display: block;
            margin: 0 0 5px;
        }
        textarea {
            min-height: 120px;
            background-color: #f7f7f7;
            //border-color: #f7f7f7;
            border: none;
            padding: 20px;
            color: #333;
            font-size: 14px;
        }
    }
    .Place-order {
        margin-top: 10px;
        @media #{$sm-layout} {
            margin-top: 20px;
        }
        @media #{$md-layout} {
            margin-top: 29px;
        }
        @media #{$vsm-layout} {
            margin-top: 29px;
        }
        a {
            background-color: $theme-color-red;
            display: block;
            cursor: pointer;
            padding: 16px 50px 17px;
            text-transform: uppercase;
            font-weight: 600;
            width: 100%;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            text-align: center;
            &:hover {
                background-color: #333;
            }
        }
    }






