/*------- 25. Contect us style  -------*/

.single-contact{
    background-color: #f7f7f7;
    padding: 48px 10px;
    transition: all 0.3s ease-out;
    > i {
        font-size: 24px;
        color: $theme-color-red;
        transition: all .3s ease 0s;
        display: block;
    }
    h4 {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.4px;
        text-transform: capitalize;
        margin: 19px 0 10px;
    }
    p {
        letter-spacing: .4px;
        font-size: 15px;
        color: $black;
        a:hover{
            color: unset;
        }
    }
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    }
}

.contact-from {
    label{
        margin-bottom: 30px;
    }
    input , textarea {
        background: #f7f7f7 none repeat scroll 0 0;
        border: none;
        color: #000;
        height: 60px;
        padding: 2px 20px;
        position: relative;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
        &.form-control:focus{
            background: #f7f7f7 !important;
            box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
        }
    }
    textarea {
        height: 200px;
        padding: 20px 20px;
    }
    .add-query{
        height: 60px;
        width: 100%;
    }
}

#map {
    height: 400px;
}


