/*-------- 12. Footer style ---------*/

.footer-area{
    .footer-logo {
        img {
            width: 150px;
            height: 40px;
        }
    }

    .footer-menu {
        @media #{$md-layout} {
            text-align: right;
        }
        nav {
            ul {
                li {
                    display: block;
                    margin-bottom: 15px;
                    @media #{$md-layout} {
                        display: inline-block;
                        margin-right: 45px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                    a {
                        font-size: 14px;
                        font-weight: 500;
                        letter-spacing: .25px;
                        color: $black;
                        display: inline-block;
                        &:hover {
                            color: $theme-color-red;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        margin-top: 20px;
        @media #{$md-layout} {
            margin-top: 5px;
        }
        span {
            white-space: nowrap;
            color: #999;
            a {
                color: inherit;
                &:hover {
                    color: $theme-color-red;
                }
            }
        }

    }
}



