/*-------- 3. Header style ---------*/

.header-small-device {
    display: none;
    @media #{$md-layout} {
        display: block;
    }
    @media #{$xs-layout} {
        display: block;
    }
    &.small-device-ptb-1 {
        padding: 25px 0 25px;
    }
}

.header-medium-device {
    display: none;
    @media #{$lg-layout} {
        display: block;
    }
    &.medium-device-ptb-1 {
        padding: 25px 0 25px;
    }
}

.header-large-device {
    display: block;
    @media #{$md-layout} {
        display: none;
    }
    @media #{$xs-layout} {
        display: none;
    }
    @media #{$lg-layout} {
        display: none;
    }
}
.header-offer-wrap {
    p {
        color: $black;
        margin: 0;
        span {
            color: $theme-color-red;
        }
        i {
            font-size: 16px;
            margin: 0 9px 0 0;
            position: relative;
            top: 2px;
        }
    }
}

.header-top-right {
	display: flex;
	justify-content: flex-end;
}
.same-style-wrap {
    display: flex;
    .same-style {
        margin-right: 60px;
        position: relative;
        &.same-style-mrg-2 {
            margin-right: 42px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                color: #666;
            }
        }
        &.same-style-mrg-3 {
            margin-right: 22px;
            @media #{$xx-layout} {
                margin-right: 10px;
            }
            @media #{$xl-layout} {
                margin-right: 5px;
            }
            @media #{$lg-layout} {
                margin-right: 7px;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
        @media #{$lg-layout} {
            margin-right: 25px;
        }
        &:last-child {
            margin-right: 0px;
        }
        a {
            color: $black;
            display: inline-block;
            i {
                font-size: 12px;
                margin: 0 0 0 3px;
            }
        }
        &.same-style-border {
            &:before {
                position: absolute;
                content: "";
                height: 24px;
                width: 1px;
                background-color: #dedede;
                right: -31px;
                top: 50%;
                transform: translateY(-50%);
                @media #{$lg-layout} {
                    right: -12px;
                }
            }
        }
        &.track-order {
            a {
                text-decoration: underline;
            }
        }
        .language-dropdown , .currency-dropdown {
            background: #000 none repeat scroll 0 0;
            position: absolute;
            right: 0;
            top: 100%;
            z-index: 99;
            box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.1);
            display: none;
            ul {
                padding: 14px 0px 15px;
                li {
                    display: block;
                    padding-bottom: 5px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                    a {
                        color: $white;
                        display: block;
                        font-size: 13px;
                        padding: 0 25px;
                        &:hover {
                            color: $theme-color-red;
                        }
                    }
                }
            }
        }
        .currency-dropdown {
            width: 90px;
        }
        &:hover {
            > a {
                color: $theme-color-red;
            }
        }
    }
}

.social-style-1 {
    display: flex;
    a {
        color: $black;
        font-size: 16px;
        display: inline-block;
        margin-right: 20px;
        @media #{$lg-layout} {
            margin-right: 14px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $theme-color-red;
        }
    }
    &.social-style-1-white {
        a {
            color: $white;
            @media #{$xx-layout} {
                margin-right: 12px;
            }
            @media #{$xl-layout} {
                margin-right: 8px;
            }
            &:hover {
                color: $theme-color-red;
            }
        }
    }
    &.social-style-1-mrg {
        margin-left: 60px;
        @media #{$lg-layout} {
            margin-left: 25px;
        }
    }
    &.social-style-1-mrg-2 {
        margin: 55px 0 0;
        @media #{$md-layout} {
            margin: 17px 0 0;
        }
        @media #{$xs-layout} {
            margin: 20px 0 0;
        }
    }
    &.social-style-1-font-inc {
        a {
            font-size: 18px;
        }
    }
}

.header-top-ptb-1 {
    padding: 14px 0 14px;
}
.header-top-ptb-2 {
    padding: 60px 0 60px;
}

.header-top-ptb-3 {
    padding: 7px 0 7px;
}

.header-top-ptb-6 {
    padding: 11px 0 11px;
}
.header-top-ptb-7 {
    padding: 20px 0 20px;
}
.main-menu {
    > nav {
        > ul {
            > li {
                display: inline-block;
                position: relative;
                a {
                    color: $black;
                    font-size: 16px;
                    font-weight: 600;
                    display: inline-block;
                    span {
                        position: absolute;
                        top: 13px;
                        right: 15px;
                        color: #ffffff;
                        font-size: 12px;
                        line-height: 1;
                        padding: 1px 5px 3px;
                        border-radius: 3px;
                        &.bg-red {
                            background-color: $theme-color-red;
                        }
                        &.bg-green {
                            background-color: #70c01a;
                        }
                    }
                    i {
                        position: relative;
                        top: 1px;
                        margin-left: 4px;
                    }
                }
                &:hover {
                    > a {
                        color: $theme-color-red;
                    }
                    > ul {
                        transform: rotateX(0deg);
                        visibility: visible;
                    }
                }
            }
        }
    }
    &.main-menu-padding-1 {
        > nav {
            > ul {
                > li {
                    padding-right: 46px;
                    @media #{$lg-layout} {
                        padding-right: 40px;
                    }
                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
    &.main-menu-lh-1 {
        > nav {
            > ul {
                > li {
                    line-height: 95px;
                }
            }
        }
    }
}
.header-action {
    &.header-action-flex {
        display: flex;
        justify-content: flex-end;
    }
    &.header-action-mrg-right {
        margin-right: 13px;
    }
    .same-style-2 {
        line-height: 1;
        margin-right: 30px;
        @media #{$lg-layout} {
            margin-right: 25px;
        }
        @media #{$xs-layout} {
            margin-right: 20px;
        }
        @media #{$sm-layout} {
            margin-right: 25px;
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            color: $black;
            font-size: 22px;
            display: inline-block;
            position: relative;
            @media #{$xs-layout} {
                font-size: 20px;
            }
            @media #{$sm-layout} {
                font-size: 22px;
            }
            span {
                &.pro-count {
                    position: absolute;
                    top: -8px;
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    line-height: 19px;
                    color: #fff;
                    text-align: center;
                    left: 14px;
                    border-radius: 50px;
                    font-weight: 600;
                    @media #{$xs-layout} {
                        font-size: 10px;
                        width: 18px;
                        height: 18px;
                        line-height: 17px;
                    }
                }
                &.red {
                    background-color: $theme-color-red;
                }
                &.black {
                    background-color: $bg-black;
                }
                &.green {
                    background-color: #4dbdaf;
                }
                &.purple {
                    background-color: $theme-color-purple;
                }
            }
            &:hover {
                color: $theme-color-red;
            }
        }
        &.same-style-2-white {
            a {
                color: $white;
                &:hover {
                    color: $theme-color-red;
                }
            }
            &.same-style-2-hover-black {
                a {
                    &:hover {
                        color: $black;
                    }
                }
            }
        }
        &.header-cart {
            a {
                display: flex;
                span {
                    &.cart-amount {
                        color: #df3434;
                        font-weight: 600;
                        font-size: 14px;
                        margin: 8px 0 0 16px;
                        &.light-yellow {
                            color: #ffd74b;
                        }
                        &.white {
                            color: $white;
                        }
                    }
                }
            }
        }
        &.same-style-2-font-inc {
            a {
                font-size: 24px;
                @media #{$lg-layout} {
                    font-size: 20px;
                }
                @media #{$xs-layout} {
                    font-size: 20px;
                }
            }
        }
        &.same-style-2-font-dec {
            a {
                font-size: 18px;
            }
        }
    }
}
.main-wrapper {
    .body-overlay {
        background-color: #232324;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }
    &.overlay-active {
        .body-overlay {
            opacity: .7;
            visibility: visible;
            z-index: 9999;
        }
    }
}
.header-search-1 {
    position: relative;
    .search-toggle {
        z-index: 99;
        i {
            display: block;
            &.s-close {
                font-size: 35px;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .s-close {
            opacity: 0;
        }
        &.open {
            .s-close {
                opacity: 1;
            }
            .s-open {
                opacity: 0;
            }
        }
    }
}
.search-wrap-1 {
    background-color: transparent;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: hidden;
    width: 340px;
    z-index: -99;
    padding-bottom: 1px;
    margin-right: 10px;
    form {
        position: relative;
        overflow: hidden;
        input {
            background-color: #fff;
            border: 1px solid #E2DCDC;
            color: #000;
            line-height: 30px;
            padding: 2px 60px 2px 20px;
            width: 100%;
            &::-moz-input-placeholder {
                color: #000;
                opacity: 1;
            }
            &::-webkit-input-placeholder {
                color: #000;
                opacity: 1;
            }
        }
        button.button-search {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            border: none;
            background-color: transparent;
            height: 100%;
            border-left: 1px solid #E2DCDC;
            padding: 0 15px;
            color: $black;
            &:hover {
                color: $theme-color-red;
            }
        }
    }
    &.open {
        opacity: 1;
        right: 100%;
        visibility: visible;
        z-index: 99;
    }
}
.logo {
    a {
        display: block;
        img {
            max-width: 100%;
        }
    }
}
.main-wrapper {
    .body-overlay-1 {
        background: rgba(35, 35, 36, 0.7) none repeat scroll 0 0;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }
    &.overlay-active-1 {
        .body-overlay-1 {
            opacity: 1;
            visibility: visible;
        }
    }
}
.mobile-header-active {
	position: fixed;
	top: 0;
	width: 350px;
	min-height: 100vh;
	bottom: 0;
	z-index: 111;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 400ms ease-out;
	transform: translate(200px,0);
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.09);
    z-index: 9999;
    @media #{$xs-layout} {
        width: 290px;
    }
    &.sidebar-visible {
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
    }
    & .clickalbe-sidebar-wrap {
        padding: 80px 30px 20px;
        height: 100%;
        @media #{$xs-layout} {
            padding: 80px 20px 20px;
        }
        .sidebar-close {
            position: absolute;
            top: 20px;
            left: 30px;
            font-size: 30px;
            line-height: 30px;
            transition: all 250ms ease-out;
            color: $black;
            @media #{$xs-layout} {
                left: 20px;
            }
            &:hover {
                transform: rotate(90deg);
                color: $theme-color-red;
            }
        }
        .mobile-header-content-area {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            padding-right: 10px;
            .mobile-header-padding-border-1 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 17px;
                padding-bottom: 30px;
            }
            .mobile-header-padding-border-2 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px;
                padding-bottom: 17px;
            }
            .mobile-header-padding-border-3 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 24px;
                padding-bottom: 30px;
            }
            .mobile-header-padding-border-4 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 30px;
                padding-bottom: 24px;
            }
            .mobile-search {
                form {
                    position: relative;
                    input {
                        background-color: #f6f6f6;
                        border: none;
                        border-radius: 0px;
                        height: 50px;
                        padding: 0 60px 0 15px;
                        width: 100%;
                        font-size: 14px;
                        color: #181818;
                    }
                    button {
                        background-color: transparent;
                        border-color: #ddd;
                        border-image: none;
                        border-radius: 5px 0 0 5px;
                        border-style: none none none solid;
                        border-width: medium medium medium 1px;
                        color: #000000;
                        font-size: 18px;
                        height: 100%;
                        padding: 0 15px 0 14px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all 0.3s ease 0s;
                        @media #{$xs-layout} {
                            font-size: 16px;
                        }
                        &:hover{
                            color: $theme-color-red;
                        }
                        i {
                            margin-top: 5px;
                            display: inline-block;
                        }
                    }
                }
            }
            .mobile-menu-wrap {
                nav {
                    height: 100%;
                    .mobile-menu {
                        li {
                            display: block;
                            position: relative;
                            &.menu-item-has-children {
                                .menu-expand {
                                    line-height: 50;
                                    top: -5px;
                                    left: 95%;
                                    width: 30px;
                                    position: absolute;
                                    height: 50px;
                                    text-align: center;
                                    cursor: pointer;
                                    i {
                                        display: block;
                                        position: relative;
                                        width: 10px;
                                        margin-top: 25px;
                                        border-bottom: 1px solid $black;
                                        transition: all 250ms ease-out;
                                        &::before {
                                            top: 0;
                                            width: 100%;
                                            content: "";
                                            display: block;
                                            position: absolute;
                                            transform: rotate(90deg);
                                            border-bottom: 1px solid $black;
                                            transition: 0.4s;
                                        }
                                    }
                                }
                                &.active > .menu-expand i::before{
                                    transform: rotate(0);
                                }
                            }
                            a {
                                font-size: 16px;
                                text-transform: capitalize;
                                line-height: 18px;
                                position: relative;
                                display: inline-block;
                                padding: 10px 0;
                                color: $black;
                                i {
                                    margin-right: 5px;
                                }
                            }
                            ul {
                                li {
                                    a {
                                        padding: 10px 15px 5px;
                                        font-size: 14px;
                                        color: #333;
                                        &:hover {
                                            color: $theme-color-red;
                                        }
                                    }
                                    ul {
                                        li {
                                            a {
                                                padding: 10px 30px 5px;
                                                font-size: 14px;
                                                color: #333;
                                            }
                                        }
                                    }
                                }
                            }
                            &:hover {
                                > a {
                                    color: $theme-color-red;
                                }
                                &.menu-item-has-children {
                                    > .menu-expand {
                                        > i {
                                            border-bottom: 1px solid $theme-color-red;
                                            &::before {
                                                border-bottom: 1px solid $theme-color-red;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mobile-header-info-wrap {
                @media #{$xs-layout} {
                    display: block;
                }
                .single-mobile-header-info {
                    position: relative;
                    margin-bottom: 13px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    a {
                        font-size: 15px;
                        display: block;
                        color: $black;
                        span {
                            float: right;
                            font-size: 10px;
                            position: relative;
                            top: 8px;
                            line-height: 1;
                        }
                    }
                    .lang-curr-dropdown {
                        margin-top: 5px;
                        display: none;
                        background-color: #fff;
                        box-shadow: 0 0 20px 0.4px rgba(0, 0, 0, 0.1);
                        padding: 22px 30px 26px;
                        width: 100%;
                        z-index: 11;
                        ul {
                            li {
                                padding-bottom: 10px;
                                &:last-child {
                                    padding-bottom: 0px;
                                }
                                a {
                                    font-size: 14px;
                                    color: $black;
                                    &:hover {
                                        color: $theme-color-red;
                                    }
                                }
                            }
                        }
                    }
                    &:hover > a {
                        color: $theme-color-red;
                    }
                }
            }
            .mobile-contact-info {
                ul {
                    li {
                        color: $black;
                        display: flex;
                        margin: 0 0 14px;
                        font-size: 15px;
                        &:last-child {
                            margin: 0 0 0px;
                        }
                        i {
                            font-size: 14px;
                            margin-right: 12px;
                            position: relative;
                            top: 4px;
                        }
                    }
                }
            }
            .mobile-social-icon {
                a {
                    display: inline-block;
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                    text-align: center;
                    border-radius: 100%;
                    color: $white;
                    font-size: 15px;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.facebook {
                        background-color: #3b5999;
                        border: 1px solid #3b5999;
                        &:hover {
                            color: #3b5999;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #55acee;
                        border: 1px solid #55acee;
                        &:hover {
                            color: #55acee;
                            background-color: transparent;
                        }
                    }
                    &.pinterest {
                        background-color: #bd081c;
                        border: 1px solid #bd081c;
                        &:hover {
                            color: #bd081c;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #e4405f;
                        border: 1px solid #e4405f;
                        &:hover {
                            color: #e4405f;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}







