/*-------- 3. Header style ---------*/

.header-small-device {
    display: none;
    @media #{$xs-layout} {
        display: block;
    }
    &.small-device-ptb-1 {
        padding: 25px 0 25px;
    }
}
.header-medium-device {
    display: none;
    @media #{$lg-layout} {
        display: block;
    }
    @media #{$md-layout} {
        display: block;
    }
    &.medium-device-ptb-1 {
        padding: 25px 0 25px;
    }
}
.header-large-device {
    display: block;
    @media #{$md-layout} {
        display: none;
    }
    @media #{$xs-layout} {
        display: none;
    }
    @media #{$lg-layout} {
        display: none;
    }
}
.logo {
    a {
        display: block;
        img {
            max-width: 100%;
        }
    }
}
.main-menu {
    > nav {
        > ul {
            > li {
                display: inline-block;
                position: relative;
                a {
                    color: $black;
                    font-size: 16px;
                    font-weight: 600;
                    display: inline-block;
                }
                &:hover {
                    > a {
                        color: $theme-color-red;
                    }
                }
            }
        }
    }
    &.main-menu-padding-1 {
        > nav {
            > ul {
                > li {
                    padding-right: 40px;
                    @media #{$lg-layout} {
                        padding-right: 40px;
                    }
                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }
    &.main-menu-lh-1 {
        > nav {
            > ul {
                > li {
                    line-height: 95px;
                }
            }
        }
    }
}
.header-action {
    &.header-action-flex {
        display: flex;
        justify-content: flex-end;
    }
    .same-style {
        line-height: 1;
        margin-right: 20px;
        @media #{$lg-layout} {
            margin-right: 25px;
        }
        @media #{$xs-layout} {
            margin-right: 20px;
        }
        @media #{$sm-layout} {
            margin-right: 25px;
        }
        &:last-child {
            margin-right: 0;
            margin-top: 10px;
            @media #{$xl-layout} {
                margin-top: 0px;
            }
            @media #{$xx-layout} {
                margin-top: 0px;
            }
        }
        a {
            color: $black;
            font-size: 22px;
            display: inline-block;
            position: relative;
            @media #{$xs-layout} {
                font-size: 20px;
            }
            @media #{$sm-layout} {
                font-size: 22px;
            }
            &:hover {
                color: $theme-color-red;
            }
        }
        &.same-style-login{
            background: $grey;
            padding: 10px 20px;
            border-radius: 15px;
         a{
             color: $theme-color-red;
             font-weight: 600;
         }
        }
    }
}
.main-wrapper {
    .body-overlay {
        background-color: #232324;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }
    &.overlay-active {
        .body-overlay {
            opacity: .7;
            visibility: visible;
            z-index: 9999;
        }
    }
}
.header-search-1 {
    position: relative;
}
.search-wrap-1 {
    background-color: transparent;
    opacity: 1;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease 0s;
    visibility: visible;
    width: 340px;
    z-index: 99;
    padding-bottom: 1px;
    margin-right: 10px;
    form {
        position: relative;
        overflow: hidden;
        input {
            background-color: #fff;
            border: 1px solid #E2DCDC;
            color: #000;
            line-height: 30px;
            padding: 2px 60px 2px 20px;
            width: 100%;
            &::-moz-input-placeholder {
                color: #000;
                opacity: 1;
            }
            &::-webkit-input-placeholder {
                color: #000;
                opacity: 1;
            }
        }
        button.button-search {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            padding: 0;
            border: none;
            background-color: transparent;
            height: 100%;
            border-left: 1px solid #E2DCDC;
            padding: 0 15px;
            color: $black;
            &:hover {
                color: $theme-color-red;
            }
        }
    }
}
.main-wrapper {
    .body-overlay-1 {
        background: rgba(35, 35, 36, 0.7) none repeat scroll 0 0;
        height: 100%;
        left: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        transition: all 0.5s ease-in-out 0s;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }
    &.overlay-active-1 {
        .body-overlay-1 {
            opacity: 1;
            visibility: visible;
        }
    }
}
.mobile-header-active {
	position: fixed;
	top: 0;
	width: 350px;
	min-height: 100vh;
	bottom: 0;
	z-index: 111;
	right: 0;
	visibility: hidden;
	opacity: 0;
	transition: all 400ms ease-out;
	transform: translate(200px,0);
    background-color: $white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.09);
    z-index: 9999;
    @media #{$xs-layout} {
        width: 290px;
    }
    &.sidebar-visible {
        visibility: visible;
        opacity: 1;
        transform: translate(0,0);
    }
    & .clickalbe-sidebar-wrap {
        padding: 80px 30px 20px;
        height: 100%;
        @media #{$xs-layout} {
            padding: 80px 20px 20px;
        }
        .sidebar-close {
            position: absolute;
            top: 20px;
            left: 30px;
            font-size: 30px;
            line-height: 30px;
            transition: all 250ms ease-out;
            color: $black;
            @media #{$xs-layout} {
                left: 20px;
            }
            &:hover {
                transform: rotate(90deg);
                color: $theme-color-red;
            }
        }
        .mobile-header-content-area {
            overflow-y: auto;
            overflow-x: hidden;
            height: 100%;
            padding-right: 10px;
            .mobile-header-padding-border-1 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 17px;
                padding-bottom: 30px;
            }
            .mobile-header-padding-border-2 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 20px;
                padding-bottom: 17px;
            }
            .mobile-header-padding-border-4 {
                border-bottom: 1px solid #ddd;
                margin-bottom: 30px;
                padding-bottom: 24px;
            }
            .mobile-search {
                @media #{$lg-layout} {
                    display: none;
                }
                @media #{$md-layout} {
                    display: none;
                }
                form {
                    position: relative;
                    input {
                        background-color: #f6f6f6;
                        border: none;
                        border-radius: 0px;
                        height: 50px;
                        padding: 0 60px 0 15px;
                        width: 100%;
                        font-size: 14px;
                        color: #181818;
                    }
                    button {
                        background-color: transparent;
                        border-color: #ddd;
                        border-image: none;
                        border-radius: 5px 0 0 5px;
                        border-style: none none none solid;
                        border-width: medium medium medium 1px;
                        color: #000000;
                        font-size: 18px;
                        height: 100%;
                        padding: 0 15px 0 14px;
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        transition: all 0.3s ease 0s;
                        @media #{$xs-layout} {
                            font-size: 16px;
                        }
                        &:hover{
                            color: $theme-color-red;
                        }
                        i {
                            margin-top: 5px;
                            display: inline-block;
                        }
                    }
                }
            }
            .mobile-menu-wrap {
                nav {
                    height: 100%;
                    .mobile-menu {
                        li {
                            display: block;
                            position: relative;
                            a {
                                font-size: 16px;
                                text-transform: capitalize;
                                line-height: 18px;
                                position: relative;
                                display: inline-block;
                                padding: 10px 0;
                                color: $black;
                                i {
                                    margin-right: 5px;
                                }
                            }
                            &:hover {
                                > a {
                                    color: $theme-color-red;
                                }
                            }
                        }
                    }
                }
            }
            .mobile-contact-info {
                ul {
                    li {
                        color: $black;
                        display: flex;
                        margin: 0 0 14px;
                        font-size: 15px;
                        &:last-child {
                            margin: 0 0 0px;
                        }
                        i {
                            font-size: 14px;
                            margin-right: 12px;
                            position: relative;
                            top: 4px;
                        }
                    }
                }
            }
            .mobile-social-icon {
                a {
                    display: inline-block;
                    width: 33px;
                    height: 33px;
                    line-height: 33px;
                    text-align: center;
                    border-radius: 100%;
                    color: $white;
                    font-size: 15px;
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                    &.facebook {
                        background-color: #3b5999;
                        border: 1px solid #3b5999;
                        &:hover {
                            color: #3b5999;
                            background-color: transparent;
                        }
                    }
                    &.twitter {
                        background-color: #55acee;
                        border: 1px solid #55acee;
                        &:hover {
                            color: #55acee;
                            background-color: transparent;
                        }
                    }
                    &.pinterest {
                        background-color: #bd081c;
                        border: 1px solid #bd081c;
                        &:hover {
                            color: #bd081c;
                            background-color: transparent;
                        }
                    }
                    &.instagram {
                        background-color: #e4405f;
                        border: 1px solid #e4405f;
                        &:hover {
                            color: #e4405f;
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}







