/*-------- 8. Product style ---------*/
.product-title-wrapper{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-nav {
        display: inline-flex;
        column-gap: 15px;
        button {
            position: relative;
            display: inline-block;
            font-size: 16px;
            font-weight: bolder;
            border: none;
            background: none;
            color: $black;
            padding: 0;
            &.active {
                color: $theme-color-red;
                    &:after{
                        width: 100%;
                    }
            }
            &:after{
                content: '';
                width: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: width ease 0.6s;
                border-bottom: 3px solid #ff2f2f;
            }
            &:hover{
                &:after{
                    width: 100%;
                }
            }
        }
    }
}

.product-grid{
    display: flex;
    flex-wrap: wrap;
    .lost-product.single-product-wrap,
    .found-product.single-product-wrap{
        &:nth-child(odd){
            margin-right: 2%;
        }
        @media #{$md-layout} {
            &:nth-child(odd){
                margin-right: unset;
            }
            &:not(:nth-of-type(3n)){
                margin-right: 2%;
            }
        }
        @media #{$lg-layout} {
            &:not(:nth-of-type(4n)){
                margin-right: 1.33%;
            }
            &:nth-of-type(4n){
                margin-right: 0;
            }
        }
    }
    .single-product-wrap {
        width: 49%;
        margin-bottom: 20px;
        @media #{$md-layout} {
            width: 32%;
        }
        @media #{$lg-layout} {
            width: 24.0025%;
        }
        .product-img {
            position: relative;
            transform: scale(1);
            transition: all .5s ease 0s;
            margin-bottom: 20px;
            img {
                height: 180px;
                @media #{$sm-layout} {
                    height: 200px;
                }
                @media #{$lg-layout} {
                    height: 300px;
                }
                width: 100%;
                object-fit: cover;
                object-position: center;
                overflow: hidden;
            }
            &:hover {
                transform: scale(1.04)
            }
            span {
                &.pro-badge {
                    position: absolute;
                    top: 17px;
                    left: 17px;
                    font-weight: 600;
                    border-radius: 5px;
                    color: $white;
                    display: inline-block;
                    padding: 6px 6px;
                    line-height: 1;
                    &.bg-black {
                        background-color: $bg-black;
                    }
                    &.bg-red {
                        background-color: $theme-color-red;
                    }
                }
            }

        }
        h4 {
            font-size: 16px;
            font-weight: 500;
            color: $black;
            display: inline-block;
            position: relative;
            a{
                padding-bottom: 0;
                &:hover{
                    color: $theme-color-red;
                }
            }
        }
    }
}



