/*-------- 16. Product details style ---------*/
.product-details-area{
    .product-details-content {
        margin: 25px 0 0;
        @media #{$sm-layout} {
            margin:0;
        }
        h2 {
            padding-bottom: 20px;
            font-size: 22px;
            font-weight: bold;
            margin: 0;
        }
        p,span{
            font-size: 14px;
            margin: 0;
            top: 0;
            color: #666;
        }
        h3{
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }
        .info{
            margin-bottom: 20px;
        }
        span.price {
            margin-top: 5px;
            display: inline-block;
            font-weight: 500;
            color: white;
            border-radius: 5px;
            background: $theme-color-purple;
            padding: 5px 10px;
            cursor: pointer;
        }
        a{
            width: fit-content;
        }
        iframe{
            width: 100%;
            height: 290px;
        }
    }

    .product-details-big-img-slider{
        img{
            cursor: pointer;
            height: 540px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .product-details-small-img-slider {
        width: 450px;
        margin: 15px auto 0;
        img {
            cursor: pointer;
            height: 100px;
            width: 100px;
            object-fit: cover;
            object-position: center;
            margin: 0 8px;
            &.slick-active {
                border: 1px solid transparent;
                &.slick-current {
                    border: 1px solid $theme-color-red;
                }
            }
        }
        span {
            font-size: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 9;
            width: 24px;
            height: 24px;
            border: 1px solid #979797;
            color: #1E1E1E;
            text-align: center;
            border-radius: 100%;
            &:hover {
                color: $white;
                border: 1px solid $theme-color-purple;
                background-color: $theme-color-purple;
            }
            &.pro-dec-prev {
                left: -7%;
            }
            &.pro-dec-next {
                left: auto;
                right: -6%;
            }
        }
    }
    .desc-para{
            font-size: 20px;
            font-family: $jost;
            line-height: 40px;
    }
}


