/*-------- 8. Product style ---------*/
.product-title-wrapper{
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-title {
        h2 {
            font-size: 24px;
            font-weight: 500;
            margin: 0;
            text-transform: uppercase;
            position: relative;
            &:before {
                position: absolute;
                content: "";
                left: 0;
                bottom: -8px;
                background-color: #ff2f2f;
                width: 50px;
                height: 2px;
            }
        }
    }
    .section-nav {
        button {
            display: inline-block;
            font-size: 16px;
            margin-right: 40px;
            border: none;
            background: none;
            color: $black;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                color: $theme-color-red;
            }
        }
    }
}

.all_product_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 */
    row-gap: 30px;
    column-gap: 80px;
    .single-product-wrap {
        .product-img {
            position: relative;
            transform: scale(1);
            transition: all .5s ease 0s;
            margin-bottom: 20px;
            img {
                height: 250px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            &:hover {
                transform: scale(1.1)
            }
            span {
                &.pro-badge {
                    position: absolute;
                    top: 17px;
                    left: 17px;
                    font-weight: 600;
                    color: $white;
                    display: inline-block;
                    padding: 4px 6px 5px;
                    line-height: 1;
                    &.bg-black {
                        background-color: $bg-black;
                    }
                    &.bg-red {
                        background-color: $theme-color-red;
                    }
                }
            }

        }
        h4 {
            font-size: 16px;
            font-weight: 500;
            color: $black;
            a:hover{
                color: $black;
            }
        }
    }
}



