.report-info-area {
    @media #{$vsm-layout} {
        display: none;
    }
    .container{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: nowrap;
        cursor: pointer;
        .highlight {
            position: relative;
            height: 340px;
            width: 340px;
            @media #{$lg-layout} {
                height: 300px;
                width: 300px;
            }
            //
            @media #{$md-layout} {
                height: 215px;
                width: 215px;
            }
            //
            @media #{$sm-layout} {
                height: 200px;
                width: 200px;
            }
            .highlight--circle,.highlight--circle__content,.highlight--circle:before, .highlight--circle:after {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                border-radius: 50%;
                background: rgba(66, 25, 255, .06);
                transition: all .2s ease-out
            }

            .highlight--circle {
                width: 40%;
                height: 40%;
                @media #{$sm-layout}{
                    width: 50%;
                }

                &:before {
                    z-index: 2;
                    content: '';
                    width: 150%;
                    height: 150%;
                }

                &:after {
                    z-index: 1;
                    content: '';
                    width: 200%;
                    height: 200%;
                    transition-delay: .1s;
                }

                &:hover:before,
                &:hover:after {
                    background: rgba(66, 25, 255, 0.1);
                }

                &:hover:before{
                    width: 155%;
                    height: 155%
                }

                &:hover:after {
                    width: 205%;
                    height: 205%
                }
            }

            .highlight--circle__content {
                z-index: 3;
                background: none;
                text-transform: uppercase;
                text-align: center;
                color: #b9bcbe;
                font-size: .7em;
                line-height: 1.2;
                strong {
                    display: block;
                    color: #fff;
                    font-weight: 400;
                    font-size: 1.5rem;

                    @media #{$sm-layout}{
                        font-size: 1rem;
                    }
                }
            }
        }

    }

}
