.section-report-area {
    .section-report-area-wrapper{
    .row {
        //div:not(:last-child){
        //    @media #{$sm-layout}  {
        //        margin-bottom: 20px;
        //    }
        //    @media #{$vsm-layout}  {
        //        margin-bottom: 20px;
        //    }
        //}
        a {
            text-align: center;
            display: inline-block;
            animation-delay: 1.5s;
            animation-name: fadeInUp;
            background-color: #eaeff2;
            color: rgba(0, 0, 0, 0.8);
            border: medium none;
            cursor: pointer;
            font-size: 15px;
            font-weight: 600;
            line-height: 1;
            padding: 20px 30px 20px;
            text-transform: uppercase;
            transition: all 0.2s ease 0s;
            width: 48%;

            &:last-child{
                animation-delay: 1.8s;
            }

            @media #{$sm-layout} {
                font-size: 12px;
            }

            @media #{$vsm-layout} {
                font-size: 9px;
                padding: 20px 10px;
            }
            &:hover {
                color: $theme-color-red;
            }

            span {
                margin-right: 15px;
                @media #{$vsm-layout} {
                    margin-right: 5px;
                }
            }
        }
    }

    }
}
