/*-------- 4. Slider style ---------*/
.single-hero-slider{
    @media #{$md-layout} {
        max-height: 310px;
    }
    @media #{$lg-layout} {
        max-height: 420px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
    @media #{$md-layout} {
        padding: 40px;
    }
}

.hero-slider-content {
    width: 100%;
    margin-bottom: 20px;
    @media #{$md-layout} {
        margin-bottom: 0;
        width: 45%;
    }
    h5 {
        cursor: pointer;
        margin-bottom: 15px;
        font-size: 14px;
        color: white;
        border-radius: 5px;
        font-weight: 400;
        background: $theme-color-purple;
        display: inline-block;
        padding: 5px;
        &:hover {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            perspective: 1000px;
        }
    }
    h1 {
        @media #{$lg-layout} {
            font-size: 36px;
            margin-bottom: 20px;
        }
        font-size: 28px;
    }

    p {
        @media #{$lg-layout} {
            font-size: 16px;
        }
        text-align: justify;
        margin-bottom: 10px;
        font-size: 14px;
        letter-spacing: 0.8px;
        height: 72px;
        @media #{$md-layout} {
            height: auto;
        }
    }
    span {
        a{
            &:hover{
                color: $theme-color-purple;
            }
        }
    }
}

.hero-slider-img {
    width: 100%;
    @media #{$md-layout} {
        width: 50%;
    }
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        @media #{$md-layout} {
            height: 300px;
        }
        @media #{$md-layout} {
            height: 230px;
        }
        @media #{$lg-layout} {
            height: 340px;
        }
        &:hover{
            transform: scale(1.02);
        }
    }
}
