// Font Family
$poppins: 'Poppins', sans-serif;
$heebo: 'Heebo', sans-serif;
$jost: 'Jost', sans-serif;
$crimson: 'Crimson Text', serif;
$cerebrisans: 'Cerebri Sans';
$signericafat: 'Signerica Fat';



// text Colors ---------------
$white: #ffffff;
$black: #000000;
$bg-black: #000000;
$bg-white: #ffffff;
$grey: #FAFAFA;
$blue: #0064e0;
$orange: #e44311;

// Theme Color
$theme-color-red: #ff2f2f;
$theme-color-green: #4dbdaf;
$theme-color-green-2: #6aae27;
$theme-color-purple: #6f50a7;
//$theme-color-blue: #0064e0;
$theme-color-blue: #556ee6;
$theme-color-gray: #eaeff2;

//// Responsive Variables
//$xx-layout : 'only screen and (min-width: 1366px)';
//// my laptop screen size
//$xl-layout : 'only screen and (min-width: 1200px) and (max-width: 1365px)';
//$lg-layout : 'only screen and (min-width: 992px) and (max-width: 1199px)';
//$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
//$sm-layout: 'only screen and (min-width: 576px) and (max-width: 767px)';
//$vsm-layout: 'only screen and (max-width: 575px)';

$xx-layout : '(min-width: 1320px)';
// my laptop screen size
$xl-layout : '(min-width: 1280px)';
$lg-layout : '(min-width: 1024px)';
$md-layout:'(min-width: 768px)';
$sm-layout: '(min-width: 640px)';
$vsm-layout: '(max-width: 640px)';
