.sh-eye-toggle {
    margin-left: 1px!important;
    border-radius: 0rem !important;
}
.auth-pass-inputgroup button.sh-eye-toggle:focus{
    outline: none !important;
    box-shadow: none !important;
}

.bold-on-hover a:hover{
    font-weight: 600;
    transition: all 0.5s;
}

.logo-small{
    height: 35px;
    width: 143px;
}
.logo-small img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.vertical-menu{
    transition: all 0.5s ease;
}

.navbar-brand-box{
    transition: all 0.5s ease;
}

/* bootstrap button */
.btn:focus {
    outline: none;
    box-shadow: none;
}
.btn{
    box-shadow: none !important;
    border: none !important;
}

#toggle-report-status{
    font-size: 25px;
    position: absolute;
    top: 5px;
    color: #495057;
    padding: 0;
}

/*Data table loading button */
div.dataTables_wrapper div.dataTables_processing.card{
    width: 0;
    padding: 0;
    top: calc(50% + 50px);
}

/*magnetic popup*/
.magnetic-container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.magnetic-container img{
    height: 200px;
    width: 200px;
}

.individual-permission{
    padding-bottom: 1.5rem;
}

#delete-btn{
    display: flex;
    gap: 5px;
}

#delete-btn .spinner-border{
    height: 18px;
    width: 18px;
    display: none;
}

/*img.identity-img{*/
/*    height: 175px;*/
/*    width: 315px;*/
/*}*/

/*img.placeholder-img{*/
/*    height: 200px;*/
/*}*/

.identity_container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.identity_container > div {
    width: 100%;
}

.identity_container .identity-img{
    height: 200px;
    width: 100%;
}
@media(min-width: 576px){
    .identity_container .identity-img{
        max-width: 300px;
        height: 200px;
    }
    .identity_container > div {
        width: auto;
    }
}

select#detail-status{
    width: 100px;
    padding: 5px 10px;
}

.detail-status-container{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

#edit-detail-status,
#cancel-detail-status,
#update-detail-status{
    cursor: pointer;
}

#cancel-detail-status,
#update-detail-status,
#edit-detail-status{
    display: none;
}
#cancel-detail-status.active,
#update-detail-status.active,
#edit-detail-status.active{
    display: inline-block;
}

#edit-report-status,
#cancel-report-status,
#update-report-status{
    cursor: pointer;
}

#cancel-report-status,
#update-report-status,
#edit-report-status{
    display: none;
}
#cancel-report-status.active,
#update-report-status.active,
#edit-report-status.active{
    display: inline-block;
}

.cross-icon-profile{
    position: absolute;
    right: -8px;
    bottom: -5px;
    /*box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;*/
    border-radius: 100%;
    background: #fff;
    color: #a1a5b7;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}
.cross-icon-profile:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;}
