.sh-eye-toggle {
    margin-left: 1px!important;
    border-radius: 0rem !important;
}

.sh-auth-input{
    border-radius: 0rem !important;
    box-shadow: none !important;
}
.auth-pass-inputgroup button.sh-eye-toggle:focus{
    outline: none !important;
    box-shadow: none !important;
}

.bold-on-hover a:hover{
    font-weight: bolder;
    transition: all 0.3s;
}
