.sh-eye-toggle {
    margin-left: 1px!important;
    border-radius: 0rem !important;
}

.sh-auth-input{
    border-radius: 0rem !important;
    box-shadow: none !important;
}
.auth-pass-inputgroup button.sh-eye-toggle:focus{
    outline: none !important;
    box-shadow: none !important;
}

.bold-on-hover a:hover{
    font-weight: 600;
    transition: all 0.5s;
}

.logo-small{
    height: 35px;
    width: 143px;
}
.logo-small img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.vertical-menu{
    transition: all 0.5s ease;
}

.navbar-brand-box{
    transition: all 0.5s ease;
}
